<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/components/modal/"><link rel="preconnect" href="https://AK7KMZKZHQ-dsn.algolia.net" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #f0f2f5;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            max-height: 90vh;
            margin: 0;
            padding:0;
        }
    </style>
</head>
<body>

    <!--NAV BAR-->
    <div th:replace="~{fragments/nav :: navbar}"></div>

    <div class="container-fluid d-flex justify-content-center mt-5">

        <div class="container-fluid shadow p-3 mb-3 bg-body rounded my-3 vh-90">

            <!--TITLE-ROW-->
            <div id="title_row" class="row justify-content-between align-items-center">
                <!--TITLE-->
                <div id="title" class="col-md-auto d-flex align-items-center">
                    <div th:if = "${keyword == ''}">
                        <h3 style="margin-bottom: 0;" class="text-primary"> Products List </h3>
                    </div>
                    <div th:unless = "${keyword == ''}">
                        <h3 style="margin-bottom: 0;" class="text-danger"> Search result for '[[${keyword}]]' </h3>
                    </div>
                </div>
                <!--ADD PRODUCT AND SEARCH-->
                <div class="col-md-auto align-self-end">
                    <div class="row">
                        <!--ADD PRODUCT-->
                        <div class="col-md-auto">
                            <a class="btn btn-primary m-3" th:href="@{/products/add}" role="button">Add Product</a>
                        </div>
                        <!--SEARCH-->
                        <div class="col-md-auto align-self-end">
                            <div class="form-group m-3">
                                <form class="form-inline" th:action="@{/products/search}" method="get">
                                    <div class="input-group">
                                        <input type="search" name="keyword" th:value="${keyword}" class="form-control" id="txtSearchProductName" placeholder="Search by Name">
                                        <button class="btn btn-outline-secondary border-left-0 border" type="submit">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--BORDER-->
            <hr id="border_row" class=" row border border-secondary border-1 opacity-20" style="padding: 0; margin: 0;">

            <div id="table_row" class="row scrollable" style="max-height:70vh; overflow-y:scroll;">
                <!--TABLE CARD-->
                <div class="container-fluid" th:each = "product : ${listProducts}">

                    <div id="table_card" class="container-fluid shadow px-3 py-1 bg-body rounded my-1">
                        <div class="row mt-1">

                            <div class="col-4">
                                <div>
                                    <h5>[[${product.name}]]<h6><span class="badge bg-secondary">Id: [[${product.id}]]</span></h6></h5>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <p>Category : [[${product.category}]]</p>
                                <p>Description : [[${product.description}]]</p>
                            </div>
                            <div class="col-lg-3">
                                <p>Selling Price : [[${product.selling_price}]]</p>
                                <p>In-Stock : [[${product.in_stock}]]</p>
                            </div>
                            <div class="col col-lg-1 align-middle">
                                <div class="row">
                                    <div class="col">
                                        <a type="button" class="btn btn-xs btn-link text-decoration-none" th:href="@{/products/update/{id}(id=${product.id})}" style="font-size:20px; color:black; padding: 0;">
                                            <span class="bi bi-pencil-fill"></span>&nbsp;
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a type="button" class="btn btn-xs btn-link text-decoration-none" data-bs-toggle="modal" data-bs-target="#deleteConfirm" style="font-size:20px; color:red; padding: 0;">
                                            <span class="bi bi-trash3-fill"></span>&nbsp;
                                        </a>
                                        <!-- Delete Modal -->
                                            <div class="overlay">
                                                <div class="modal fade" id="deleteConfirm" tabindex="-1" aria-labelledby="deleteConfirm" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Warning!</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure to delete?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                            <a type="button" class="btn btn-primary btn-danger" th:href="@{products/delete/{id}(id=${product.id})}">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--BORDER-->
            <hr id="border_bottom_row" class="row border border-secondary border-1 opacity-20" style="padding: 0; margin: 0;">

            <!--NAVIGATION WITHOUT SEARCH -->
            <div id="navigation_row" class="row" th:if = "${keyword == ''}">
                <div th:if = "${totalPages > 1}">
                    <div class="row mt-1">
                        <div class="col-sm-2 text-secondary">
                            Total Products : [[${totalItems}]]
                        </div>
                        <div class="col-sm-8">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{'/products/page/' + ${currentPage - 1}}">Previous</a></li>
                                    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                                        <li th:if = "${currentPage != i}" class="page-item"><a class="page-link" th:href="@{'/products/page/' + ${i}}">[[${i}]]</a></li>
                                        <li th:unless="${currentPage != i}" class="page-item disabled"><a class="page-link">[[${i}]]</a></li>
                                    </span>
                                    <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link" th:href="@{'/products/page/' + ${currentPage + 1}}">Next</a></li>
                                    <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link" th:href="@{'/products/page/' + ${totalPages}}">Last</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--NAVIGATION WITH SEARCH-->
            <div id="search_navigation_row" th:unless = "${keyword == ''}">
                <div th:if = "${totalPages > 1}">
                    <div class="row mt-1">
                        <div class="col-sm-2 mt-1 text-secondary">
                            Total Products : [[${totalItems}]]
                        </div>
                        <div class="col-sm-8">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{'/products/search/'+${keyword}+'/page/' + ${currentPage - 1}}">Previous</a></li>
                                    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                                        <li th:if = "${currentPage != i}" class="page-item"><a class="page-link" th:href="@{'/products/search/'+${keyword}+'/page/' + ${i}}">[[${i}]]</a></li>
                                        <li th:unless="${currentPage != i}" class="page-item disabled"><a class="page-link">[[${i}]]</a></li>
                                    </span>
                                    <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link" th:href="@{'/products/search/'+${keyword}+'/page/' + ${currentPage + 1}}">Next</a></li>
                                    <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link" th:href="@{'/products/search/'+${keyword}+'/page/' + ${totalPages}}">Last</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>