<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/components/modal/"><link rel="preconnect" href="https://AK7KMZKZHQ-dsn.algolia.net" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #f0f2f5;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 400;
            max-height: 90vh;
            margin: 0;
            padding:0;
        }
    </style>
</head>
<body>

<div th:replace="fragments/nav :: navbar"></div>

    <div class="container-fluid d-flex justify-content-center mt-5">

        <div class="container-xxl shadow p-3 mb-5 bg-body rounded m-3">

            <h1 class="m-3"> Add Product </h1>

            <hr class="border border-secondary border-1 opacity-20">

            <form method="post" th:action="@{save}" th:object="${product}" >

                <div class="form-group m-3">
                    <label for="productName">Product Name</label>
                    <input type="text" class="form-control" th:field="*{name}" id="productName" placeholder="Enter Product Name" required>
                </div>

                <div class="form-group m-3">
                    <label for="productCategory">Product Category</label>
                    <input type="text" class="form-control" th:field="*{category}" id="productCategory" placeholder="Enter Product Category" required>
                </div>

                <div class="form-group m-3">
                    <label for="productDescription">Product Description</label>
                    <input type="text" class="form-control" th:field="*{description}" id="productDescription" placeholder="Enter Product Description">
                </div>

                <div class="form-group m-3">
                    <label for="productSellingPrice">Product Selling Price</label>
                    <input type="number" class="form-control" th:field="*{selling_price}" id="productSellingPrice" placeholder="Enter Product Selling Price" required>
                </div>

                <div class="form-group m-3">
                    <label for="productInStock">Product In-Stock</label>
                    <input type="number" class="form-control" th:field="*{in_stock}" id="productInStock" placeholder="Enter Product In-Stock">
                </div>

                <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#addConfirm">Add Product</button>

                <!-- Update Modal -->
                <div class="modal fade" id="addConfirm" tabindex="-1" aria-labelledby="addConfirm" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Confirm</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure to add?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary btn-success">add</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>